<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.lease.web.app.mapper.BrowsingHistoryMapper">

    <resultMap id="getHistoryItemVoById" type="com.atguigu.lease.web.app.vo.history.HistoryItemVo">
        <id column="id" property="id"></id>
        <result column="room_id" property="roomId"></result>
        <collection property="roomGraphVoList" ofType="com.atguigu.lease.web.app.vo.graph.GraphVo"
                    select="selectRoomGraphByRoomId" autoMapping="true" column="room_id"></collection>
    </resultMap>

    <select id="getHistoryItemVoById" resultType="com.atguigu.lease.web.app.vo.history.HistoryItemVo">
        select
            bh.id,
            bh.user_id,
            bh.room_id,
            bh.browse_time,
            ri.room_number,
            ri.rent,
            ai.name apartment_name,
            ai.province_name,
            ai.city_name,
            ai.district_name
        from browsing_history bh
                 left join room_info ri on
            bh.room_id = ri.id and ri.is_deleted = 0 and ri.is_release = 1
                 left join apartment_info ai on
            ai.is_deleted = 0 and ri.apartment_id = ai.id and ai.is_release = 1
        where
            bh.is_deleted = 0 and bh.user_id = #{userId}
        order by bh.browse_time desc
    </select>

    <select id="selectRoomGraphByRoomId" resultType="com.atguigu.lease.web.app.vo.graph.GraphVo">
        select
            name,
            url
        from
            graph_info
        where
            item_id = #{room_id}
    </select>
</mapper>
