<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.lease.web.app.mapper.LeaseTermMapper">

    <select id="selectListByRoomId" resultType="com.atguigu.lease.model.entity.LeaseTerm">
        select
            lt.id,
            lt.month_count,
            lt.unit
        from lease_term lt
                 left join room_lease_term rlt
                           on lt.id = rlt.lease_term_id and
                              lt.is_deleted = 0 and
                              rlt.is_deleted = 0
        where
            rlt.room_id = #{id}
    </select>

    <select id="listLeaseTerm" resultType="com.atguigu.lease.model.entity.LeaseTerm">
        select lt.unit,
               lt.month_count
        from lease_term lt
                 left join room_lease_term rlt
                           on lt.id = rlt.lease_term_id and rlt.is_deleted = 0
        where rlt.room_id = #{id}
          and lt.is_deleted = 0
    </select>
</mapper>
