<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.lease.web.app.mapper.PaymentTypeMapper">

    <select id="selectListByRoomId" resultType="com.atguigu.lease.model.entity.PaymentType">
        select pt.id,
               pt.name,
               pt.pay_month_count,
               pt.additional_info
        from payment_type pt
                 left join room_payment_type rpt
                           on pt.is_deleted = 0 and
                              pt.id = rpt.payment_type_id
        where rpt.is_deleted = 0
          and rpt.room_id = #{id}
    </select>
</mapper>