<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.lease.web.app.mapper.UserInfoMapper">

    <select id="selectByPhone" resultType="com.atguigu.lease.model.entity.UserInfo">
        select id,
               phone,
               avatar_url,
               nickname,
               status
        from user_info
        where status = 1
          and is_deleted = 0
          and phone = #{phone}
    </select>
</mapper>
